body {
  margin: 0;
  background-color: rgb(254, 254, 245);
}

/* header */

.chef-logo {
  width: 100px;
  height: 100px;
}

.header {
  height: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-title {
  font-family: "Josefin sans";
  font-weight: 350;
  font-size: 40px;
  text-shadow: 0px 3px 10px lightgoldenrodyellow;
}

/* main */

.main {
  padding: 10px;
}

.add-ingredient {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 40px;
  height: 38px;
}

.add-ingredient input {
  font-family: "Parkinsans";
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.192);
  padding: 9px 13px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.53);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient button {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.53);
  font-family: "Montserrat";
  border: none;
  color: white;
  background-color: black;
  border-radius: 6px;
}

.add-ingredient button::before {
  content: "+";
  margin-right: 9px;
}

.ingredient-display{
  margin-top: 35px;

}

/* heading of ingredients */

.ingredients-heading{
  font-family: "Playfair Display";
  color: rgb(21, 52, 52);
  font-weight: 500;
  font-size: 25px;
  margin-left: 30px;
}

/* list of ingredients */

.list-ingredients li{
  margin-left: 10px;
  font-family: "Parkinsans";
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}

/* Box */

.get-recipe-container{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgoldenrodyellow;
  margin: 50px 20px;
  padding: 7px 20px;
  border-radius: 10px;
}

.recipe-h3{
  font-family: 'Playfair Display';
  font-size: 20px;
}

.recipe-p{
  margin-top: -10px;
  font-family: 'Montserrat';
  font-size: 15px;
}

.get-recipe{
  background-color: rgb(193, 106, 0);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 10px grey;
  font-family: 'Parkinsans';
  transition: transform 0.2s ease-in-out;
}

.get-recipe:hover{
  transform: scale(1.05);
}

.suggested-recipe-container{
  margin: 30px;
  font-family:'Montserrat';
  font-size: 15px;
}

.recipe-h2{
  font-size: 25px;
  margin: 30px;
  font-family: 'Playfair Display';
  font-weight: 500;
  color: rgb(21, 52, 52);
}

/* recipe container */

.recipe-response-container{
  margin: 10px 30px;
  font-size: 18px;
  font-family: 'Montserrat';
  color: #000000;
}

.recipe-response-container li{
  color: black;
  font-family: 'Parkinsans';
  font-size: 17px;
  font-weight: 400;
}

.recipe-response-container p{
  color: black;
  font-family: 'Rubik';
  font-size: 18px;
  font-weight: 200;
}